<body class="bg-neutral-700 h-screen w-screen text-white overflow-hidden">
    <%- include('../partials/header.ejs') %>
    <div class="flex flex-col items-center">
        <form action="/admin/login" method="post" class="flex sm:w-144 bg-red-200">

        </form>
    </div>
</body>